* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

/*  Ayubxon's page start  */
/*  Ayubxon's page end  */

/*  Akbarshox's page start  */
.pagess {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
}
.p1.p2.p3 {
  margin-top: 15px;
}

/*  Akbarshox's page end  */

/*  Dilmirod's page start  */
/*  Dilmirod's page end  */

/*  Abdulbosit's page start  */
/*  Abdulbosit's page end  */

/*  Valixon's page start  */
/*  Valixon's page end  */

/* Bilolxon's page start */
/* Bilolxon's page end  */

/*  Rasuljon's page start  */
/*  Rasuljon's page end */

/*  Ibrohim's page start  */
/*  Ibrohim's page end  */

/*  Abdulaziz's page start  */
/*  Abdulaziz's page end  */

/*  Maftuna's page start  */
/*  Maftuna's page end  */

/*  Muhammadsodiq's page start -->*/
footer {
  width: 100%;
  background: #f7f9fc;
  padding-bottom: 0;
  font-family: sans-serif;
  margin-top: 100px;
  align-items: center;
}

.footer-title {
  font-weight: 600;
  font-size: 45px;
  padding: 20px;
  position: relative;
  left: 10%;
}

.footer-images {
  display: flex;
  gap: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  justify-content: center;
}

.footer_texts {
  border-radius: 10px;
  box-shadow: 5px 5px 10px #888888;
  padding: 20px 100px;
  margin: auto;
  width: 80%;
}

.footer_texts-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-icon {
  width: 30px;
  height: 30px;
}

.footer_box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-images img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.footer-map iframe {
  width: 100%;
  height: 520px;
  border: none;
  margin-top: 30px;
}

/*  Muhammadsodiq's page end  */
