* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

/*  Ayubxon's page start  */
header{
  display: flex;
  justify-content: space-around;
}
.arron{
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 20px;
  gap: 20px;
}
.tel{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 35px;
}
.divin2{
  gap: 15px;
  font-size: 12px;
  display: flex;
  margin-top: 20px;

}
.divin2 a{
  color: black;
}
/*  Ayubxon's page end  */

/*  Akbarshox's page start  */
/*  Akbarshox's page end  */

/*  Dilmirod's page start  */
/*  Dilmirod's page end  */

/*  Abdulbosit's page start  */
/*  Abdulbosit's page end  */

/*  Valixon's page start  */
/*  Valixon's page end  */

/* Bilolxon's page start */
/* Bilolxon's page end  */

/*  Rasuljon's page start  */
/*  Rasuljon's page end */

/*  Ibrohim's page start  */
/*  Ibrohim's page end  */

/*  Abdulaziz's page start  */
/*  Abdulaziz's page end  */

/*  Maftuna's page start  */
/*  Maftuna's page end  */

/*  Muhammadsodiq's page start -->*/
/*  Muhammadsodiq's page end  */
