* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

.container {
  overflow: hidden;
}

/*  Ayubxon's page start  */
header {
  display: flex;
  justify-content: space-around;
}
.arron {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 20px;
  gap: 20px;
}
.tel {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 35px;
}
.divin2 {
  gap: 15px;
  font-size: 12px;
  display: flex;
  margin-top: 20px;
}
.divin2 a {
  color: black;
}
/*  Ayubxon's page end  */

/*  Akbarshox's page start  */
.pagess {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
}
.p1.p2.p3 {
  margin-top: 15px;
}

/*  Akbarshox's page end  */

/*  Dilmirod's page start  */
/*  Dilmirod's page end  */

/*  Abdulbosit's page start  */
.devices-section {
  padding: 60px 0;
  margin-top: 100px;
}

.devices-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.devices-title {
  font-size: 36px;
  font-weight: 900;
  width: 45%;
  line-height: 1.3;
}

.top-images {
  width: 55%;
  display: flex;
  gap: 25px;
}

.device-big {
  background: #fff;
  border-radius: 20px;
  padding: 30px 25px 45px;
  flex: 1;
  text-align: center;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.device-big img {
  width: 130px;
  height: auto;
  margin-bottom: 10px;
}

.device-big p {
  font-size: 20px;
  font-weight: 700;
}

.arrow {
  width: 38px;
  height: 38px;
  background: #ffe9e1;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff6a33;
  font-size: 22px;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.device-small {
  background: #fff;
  border-radius: 20px;
  width: 25%;
  padding: 25px 20px 45px;
  text-align: center;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.device-small img {
  width: 110px;
  height: auto;
  margin-bottom: 12px;
}

.device-small p {
  font-size: 17px;
  font-weight: 600;
}
/*  Abdulbosit's page end  */

/*  Valixon's page start  */
/*  Valixon's page end  */

/* Bilolxon's page start */
/* Bilolxon's page end  */

/*  Rasuljon's page start  */
/*  Rasuljon's page end */

/*  Ibrohim's page start  */
/*  Ibrohim's page end  */

/*  Abdulaziz's page start  */
.about-section {
  max-width: 1000px;
  margin: 40px auto;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.about-text {
  flex: 1;
  color: #333;
}

.quote {
  font-size: 18px;
  font-weight: 600;
  color: #003f8c;
  position: relative;
  margin-bottom: 20px;
}

.quote-mark {
  color: #3a8bff;
  font-size: 28px;
  font-weight: bold;
}

.about-text p {
  margin-bottom: 12px;
  line-height: 2;
  color: #444;
}

.about-image {
  position: relative;
  flex: 1;
  text-align: center;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.arrow {
  position: absolute;
  top: 45%;
  background: white;
  border: 1px solid #ddd;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 22px;
  line-height: 32px;
  color: #333;
}

.arrow.left {
  left: -15px;
}

.arrow.right {
  right: -15px;
}

.dots span {
  display: flex;
  width: 10px;
  height: 10px;
  background: #c3c3c3;
  border-radius: 50%;
  margin: 0 4px;
}

/*  Abdulaziz's page end  */

/*  Maftuna's page start  */
/*  Maftuna's page end  */

/*  Muhammadsodiq's page start -->*/
footer {
  width: 100%;
  background: #f7f9fc;
  padding-bottom: 0;
  font-family: sans-serif;
  margin-top: 100px;
  align-items: center;
}

.footer-title {
  font-weight: 600;
  font-size: 45px;
  padding: 20px;
  position: relative;
  left: 10%;
}

.footer-images {
  display: flex;
  gap: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  justify-content: center;
}

.footer_texts {
  border-radius: 10px;
  box-shadow: 5px 5px 10px #888888;
  padding: 50px;
  margin: auto;
  width: 80%;
}

.footer_texts-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-icon {
  width: 30px;
  height: 30px;
}

.footer_box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-images img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.footer_texts_bottom {
  margin-top: 50px;
  display: flex;
  position: relative;
  left: 5%;
}

.footer-map iframe {
  width: 100%;
  height: 520px;
  border: none;
  margin-top: 30px;
}

/*  Muhammadsodiq's page end  */
